# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Juniles
src/tempCodeRunnerFile.cpp
src/.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
src/alexexample.cpp
src/44.txt
src/in2.txt
src/in3.txt
src/in4.txt
src/in1.txt
src/in5.txt
src/in6.txt
src/in7.txt
src/in8.txt
